@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

/* @import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap"); */

* {
  /* pointer-events: none; */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  /* لمنع التحديد في متصفحات Webkit */
  -moz-user-select: none;
  /* لمنع التحديد في Firefox */
  -ms-user-select: none;
  /* لمنع التحديد في IE */
  user-select: none;
  /* تعميم لمنع التحديد */
  font-family: "Tajawal", serif;
  /* font-family: "Tajawal", serif; */
}


/* إعدادات الحاوية النصية المتحركة */
.typing-container {
  font-family: "Tajawal", serif;
  font-size: 3.9rem;
  font-weight: bolder;
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  /* منع النص من الانتقال لسطر جديد */
  overflow: hidden;
  /* إخفاء النص الزائد إذا تجاوز السطر */
  text-overflow: ellipsis;
  /* إظهار "..." إذا كان النص أطول من العرض */

}

@media (min-width: 1200px) {
  .typing-container {
    font-size: 5.5rem;
    /* تكبير الخط بنسبة تصل مرة ونصف */
  }
}

/* تصغير الخط للشاشات الصغيرة */
@media (max-width: 600px) {
  .typing-container {
    font-size: 2.5rem;
    /* تصغير الخط للشاشات الصغيرة */
  }
}

/* إعدادات المؤشر المتحرك */
.cursor {
  width: 20px;
  height: 5px;
  align-self: flex-end;
  background-color: #d8dcc7;
  margin-left: 5px;
  animation: blink 0.8s step-end infinite;
}

/* تأثير الوميض على المؤشر */
@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

/* استيراد الخطوط */

/* إعدادات خلفية الصفحة */
body {
  margin: 0;
  font-family: "Tajawal", serif;
  background-color: #121212;
  /* اللون الداكن للخلفية */
  color: #fff;
  overflow-x: hidden;
  /* منع التمرير الأفقي */
}

/* إعدادات الرأس */
header {
  text-align: center;
  padding: 2rem 1rem;
  animation: fadeIn 2s ease-in-out;
}

/* إعدادات عنوان الرأس */
header h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

/* إعدادات النص داخل الرأس */
header p {
  font-size: 1.2rem;
  color: #aaa;
}

/* إعدادات حاوية المعرض */
.portfolio-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  height: 100vh;
}

/* إعدادات كل عنصر في المعرض */
.portfolio-item {
  overflow: hidden;
  direction: rtl;
  /* محاذاة النص من اليمين لليسار */
  scroll-snap-align: start;
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  padding: 1rem;
  max-width: 1200px;
}

/* إعدادات عنوان العنصر في المعرض */
.portfolio-title {
  direction: rtl;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* إعدادات الصورة في المعرض */
.portfolio-item img {
  max-width: 300px;
  max-height: 600px;
  margin: 20px;
  margin-top: 10%;
  display: block;
  max-height: 100%;
  border-radius: 10px;
  transition: transform 0.4s, box-shadow 0.4s;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);
}

/* تأثير تكبير الصورة عند التمرير */
.portfolio-item img:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 25px rgba(208, 202, 201, 0.7);
}

/* إعدادات التفاصيل في العنصر */
.portfolio-item .details {
  max-width: 600px;
  padding: 1rem;
  text-align: center;
  text-align: right;
  /* محاذاة النص من اليمين لليسار */
}

/* إعدادات عنوان التفاصيل */
.portfolio-item .details h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* إعدادات النص داخل التفاصيل */
.portfolio-item .details p {
  font-size: 1rem;
  color: #bbb;
}

/* إعدادات الروابط الاجتماعية */
.social-links {
  text-align: center;
  margin: 2rem 0;
  display: flex;
  justify-content: space-evenly;
  /* توزيع العناصر بالتساوي */
  gap: 20px;
  /* المسافة بين العناصر */
  position: fixed;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  /* التوسيط التام */
  z-index: 10;
  transition: all 0.3s ease;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.05));
  /* تدرج لوني شفاف */
  backdrop-filter: blur(9px);
  /* تأثير بلور على الخلفية */
  /* mask-image: linear-gradient(to bottom, black, transparent);
      -webkit-mask-image: linear-gradient(to top, black, transparent); */
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.05));
  /* تدرج لوني شفاف */
  backdrop-filter: blur(9px);
  /* تأثير بلور على الخلفية */
  /* mask-image: linear-gradient(to bottom, black, transparent);
      -webkit-mask-image: linear-gradient(to top, black, transparent); */
  padding: 10px;
  border-radius: 20px;
  width: auto;
  /* العرض يتناسب مع العناصر داخلها */
}

/* الشاشات الكبيرة */
@media (max-width: 1200px) {
  .social-links a img {
    width: 35px;
    /* تحديد الحجم النهائي للصورة 35px */
    height: auto;
  }

  .social-links {
    gap: 15px;
    /* المسافة بين العناصر أكبر */
    height: auto;
    height: auto;
  }
}

/* الشاشات المتوسطة */
@media (max-width: 900px) {
  .social-links a img {
    width: 30px;
    /* تغيير الحجم إلى 30px */
    height: auto;
  }

  .social-links {
    gap: 12px;
    /* تقليل المسافة بين العناصر */
    height: auto;
    height: auto;
  }
}

/* الشاشات الصغيرة */
@media (max-width: 600px) {
  .social-links a img {
    width: 25px;
    /* تغيير الحجم إلى 25px */
    height: auto;
  }

  .social-links {
    gap: 10px;
    /* تقليل المسافة بين العناصر */
    height: auto;
    height: auto;
  }
}

/* الشاشات الصغيرة جدًا */
@media (max-width: 400px) {
  .social-links a img {
    width: 20px;
    /* تغيير الحجم إلى 20px */
    height: auto;
  }

  .social-links {
    gap: 8px;
    /* تقليل المسافة بين العناصر أكثر */
    height: auto;
    height: auto;
  }
}

/* الشاشات الصغيرة جدًا جدًا */
@media (max-width: 300px) {
  .social-links a img {
    width: 15px;
    /* تغيير الحجم إلى 15px */
    height: auto;
  }

  .social-links {
    gap: 1px;
    /* تقليل المسافة بين العناصر بشكل أكبر */
    height: auto;
  }
}


/* إعدادات الرابط داخل العناصر */
.social-links a {
  color: #00adb5;
  margin: 0 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 0.3s;
}

/* تأثير التمرير على الروابط الاجتماعية */
.social-links a:hover {
  color: #ff5722;
}

/* إعدادات العناصر داخل الـ .image-hover-effect */
.image-hover-effect {
  flex: 1 1 calc(25% - 20px);
  /* تحديد الحجم التلقائي للعناصر وتوزيع المسافة بينهم */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

/* تأثير على الصورة عند التمرير */
.image-hover-effect img {
  width: 30px;
  height: auto;
  transition: transform 0.3s ease, filter 0.3s ease;
  filter: grayscale(1);
  /* الصورة تكون باللون الرمادي */
}

/* تأثير تكبير الصورة عند التمرير */
.image-hover-effect img:hover {
  transform: scale(1.3);
  filter: grayscale(0);
  /* إلغاء التدرج الرمادي عند التمرير */
}


/* إعدادات الفوتر */
footer {
  text-align: center;
  padding: 1rem;
  background-color: #1f1f1f;
  color: #888;
  padding: 1%;
  visibility: hidden;
}

/* تأثير fadeIn على الرأس */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* إعدادات الخلفية */
.background::before,
.background::after {
  content: "";
  position: relative;
  width: 300px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  animation: moveBackground 10s linear infinite;
}

/* تحديد مكان ظهور العناصر السابقة */
.background::before {
  top: -50px;
  left: -50px;
  animation-delay: 0s;
}

.background::after {
  bottom: -50px;
  right: -50px;
  animation-delay: 5s;
}

/* حركة الخلفية */
@keyframes moveBackground {
  0% {
    transform: translateX(0) translateY(0);
  }

  100% {
    transform: translateX(100hw) translateY(100vw);
  }
}

/* إعدادات حركة الدوائر */
.circle {
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  animation: animateCircle 10s both infinite;
}

/* تحديد أماكن وضع الدوائر بشكل عشوائي */
.circle:nth-child(1) {
  animation-duration: 25s;
}

.circle:nth-child(2) {
  animation-duration: 15s;
}

.circle:nth-child(3) {
  animation-duration: 10s;
}

.circle:nth-child(4) {
  animation-duration: 20s;
}

/* تأثير حركة الدوائر */
.circle {
  --start-x: calc(100vw * random());
  --start-y: calc(100vh * random());
  --end-x: calc(100vw * random());
  --end-y: calc(100vh * random());
}

/* تأثير حركة الدوائر */
@keyframes animateCircle {
  0% {
    transform: translate(var(--start-x), var(--start-y));
    opacity: 0;
    scale: 0.2;
  }

  25% {
    transform: translate(var(--mid-x), var(--mid-y));
    opacity: 1;
  }

  50% {
    transform: translate(var(--end-x), var(--end-y));
    opacity: 0.5;
    scale: 2;
  }

  100% {
    transform: translate(var(--start-x), var(--start-y));
    opacity: 1;
  }
}

.ProjectButton {
  background-color: rgba(255, 255, 255, 0.9);
  color: #121212;
  font-weight: bolder;
  border: none;
  padding: 10px 60px;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s, color 0.3s ease 0s, scale 0.3s ease 0s;
}

.ProjectButton:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  scale: 1.07;
}